body {
    margin: 0;
    font-family: 'Inter';
    background-color: #FDFCFC;
}

.container {
    width: 1076px;
    margin: 0 auto;
}

/* первый блок */

.header {
    padding-bottom: 145px;
}

.hero {}

.hero::before {
    content: " ";
    position: absolute;
    z-index: 1;
    display: block;
    width: 679px;
    height: 679px;
    left: -50%;
    top: -50%;
    background: rgba(142, 173, 213, 1);
    filter: blur(306px);
}

nav {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    height: 28px;
    padding-top: 46px;
}

ul {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    text-transform: lowercase;
    margin-top: 1px;
}

li {
    list-style-type: none;
    margin-left: 50px;
}

.head-titles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 450px;
    margin-top: 97px;
}

.head-title {
    width: 540px;
}

h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    text-transform: capitalize;
}

.head-subtitle {
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 28px;
    width: 525px;
}



button {
    width: 170px;
    height: 50px;
    left: 188px;
    top: 524px;
    background: #8EADD5;
    border-radius: 8px;
    margin-top: 39px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.business-people {
    margin-left: 62px;
}

.social-contact {
    width: 915px;
    height: 86px;
    margin: 157px 0 0 80px;
}

.social-post {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
    color: #667085;
    margin-bottom: 16px;
}

.social-pages {
    display: flex;
    width: 915px;
    justify-content: space-around;
    align-items: center;
    height: 86px;
    left: 263px;
    top: 810px;
    background-color: #F6F6F6;
    border-radius: 8px;
}


/* можно так, но лучше использовать классы

.social-pages img:nth-of-type(1n) {
    width: 140px;
    height: 48px;

}

.social-pages img:nth-of-type(2n) {
    width: 121px;
    height: 48px;
}

.social-pages img:nth-of-type(3n) {
    width: 163px;
    height: 48px;
}

.social-pages img:nth-of-type(4n) {
    width: 98px;
    height: 48px;
} */

.spotify {
    width: 140px;
    height: 48px;
}

.slack {
    width: 121px;
    height: 48px;
}

.dropbox {
    width: 163px;
    height: 48px;
}

.zoom {
    width: 98px;
    height: 48px;
}

/* второй блок */

.team-working {
    display: flex;
    height: 450px;
    padding-bottom: 140px;
}

.team-working::after {
    content: " ";
    position: absolute;
    display: block;
    width: 250px;
    height: 250px;
    right: -45%;
    top: 170%;
    background: rgba(142, 173, 213, 1);
    filter: blur(18px);
}

.post-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-transform: capitalize;
    color: #272D38;
    width: 435px;
    height: 100px;
    margin: 95px 0 26px 180px;
}

.post-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    width: 392px;
    margin: 0 0 46px 180px;
}

.arrow {
    margin: 0 0 0 180px;
}

/* третий блок */

.team-business {
    display: flex;
    height: 450px;
    padding-bottom: 140px;
}


.business-analyz {
    margin: 95px 180px 26px 0;
}

.business-subs {
    margin: 0 180px 46px 0;
}

/* четвертый блок */
.testimonials {
    height: 515px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 136px;
}

.testimonials-titles {
    width: 100%;
}

.testimonials-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
}

.testimonials-subtitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-transform: capitalize;
    margin: 16px 0 38px 0;
}

.post-persons {
    width: 345px;
    height: 334px;
    left: 188px;
    top: 2385px;
    background: #F6F6F6;
    border-radius: 20px;
}

.andrew-img {
    margin: 32px 108px 8px 108px;
}

.andrew-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
}

.andrew-post {
    width: 281px;
    margin: 27px 32px 32px 32px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
}

.person-dunkan {
    margin: 0 15px 0 15px;
}

/* пятый блок */

.customers {
    display: flex;
    width: 1065px;
    height: 450.43px;
    left: 188px;
    top: 2855px;
    background: #F6F6F6;
    border-radius: 20px;
    margin-bottom: 139px;
}

.customer-support {
    margin: 0 90px 0 76px;
}

.custom-title {
    margin: 100px 89px 16px 0;
}

.custom-subtitle {
    margin: 0 16px 0 0;
}

.customers-contact {
    margin: 32px 283px 0 0;
}

/* шестой блок футер */

.footer {
    height: 500px;
    top: 3444px;
    background: #F6F6F6;

}

.footer-items {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    width: 190px;
}

.footer-titles {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    margin: 105px 0 40px 0;
}

.footer-subtitle {
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
}

.footer-title {
    margin-bottom: 32px;
}

a {
    display: block;
    margin-bottom: 26px;
}

.footer-bot {
    text-align: center;
    margin: 110px 0 10px 0;
}